/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2018, 2:22:42 AM
    Author     : Reinier
*/

/*------------------------------------------------------------------------------
                           -->  COLORES  <--  
------------------------------------------------------------------------------*/

/* Variaciones de negro */
$black_special_light_color: #2b2b2b;

/* Variaciones de azul */
$blue_bright_color: deepskyblue;
$blue_new_discrete_color: #328aa4;

/* Blue deprecated */
$blue_initial_comments_manager_page_color: #029ac4;
$blue_initial_light_color: #AAE0F2;

/* Variaciones de Blanco */
$white_pure_color: white;
